<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today day</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1>
            <%= currDate %>
        </h1>
    </div>

    <div class="box">
        <% for (var i=0; i<newItem.length ;i++){ %>

            
            <p> 
                <input type="checkbox">
                <%= newItem[i] %>
            </p>

        <% } %>
         
        <form class="item" action="/add-item" method="post">
            <input type="text" name="newItem" id="" placeholder="New Item">
            <button type="submit" name="submit">+</button>
        </form>
    </div>

</body>

</html>